body {
  background-color: rgb(1, 29, 32);
  color:rgb(0, 229, 255);
  font-family: 'Montserrat-Bold';
  font-size: 2rem;
  src: url('../../static/Montserrat-Bold.ttf');
  text-align: center;
  -webkit-text-stroke: 0.1rem;
  -webkit-text-stroke-color: #F64FFF;
  text-shadow: 0rem 0.2rem 0.5rem #F64FFF;
}