body {
  background-color: rgb(3, 59, 61);
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../static/Montserrat-Bold.ttf');
}

.header {
  color:rgb(0, 229, 255);
  font-family: 'Montserrat-Bold';
  font-size: 3rem;
  text-align: center;
  -webkit-text-stroke: 0.1rem;
  -webkit-text-stroke-color: #F64FFF;
  text-shadow: 0rem 0.25rem 0.4rem #F64FFF;
}

div.grid-container-50-half {
  margin: 0.5rem;
  justify-content: center;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(4, minmax(50px, 50px)); }

div.item {
  box-sizing: border-box;
  font-family: 'Montserrat-Bold';
  float: left;
  padding: 0.5rem;
  height: 50px;
  border: 0.1rem solid;
  border-radius: 0.4rem; 
  background-color: rgb(1, 30, 31);
  color:rgb(0, 229, 255);
  box-shadow: 0 0 0.5rem #F64FFF;
  text-align: justify;
  h4 {
    margin-top: 0%;
    margin-bottom: 2%;
  }}

@font-face {
  font-family: 'Dotty';
  src: url('../static/Dotty.ttf');
}

div.screen {
  color:rgb(0, 229, 255);
  text-align: end;
  font-family: 'Dotty';
  font-size: 5rem;
  margin: auto;
  background-color: rgb(1, 30, 31);
  width: 240px;
  height: 2.5rem;
  line-height: 3rem;
  overflow: hidden;
  padding: 0.2rem;
  border: 0.1rem solid;
  border-color: rgb(0, 229, 255);
  box-shadow: 0 0 0.5rem #F64FFF;
}

div.item:active {
  animation-name: button;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

@keyframes button {
  0% {
    opacity: 0;
    transform: scale(0.9); }
  80% {
    transform: scale(1.1); }
  100% {
    opacity: 1;
    transform: scale(1) } }